[buildout]
index = http://packages.lizardsystem.nl
find-links = http://packages.lizardsystem.nl/coverage-3.4a1.tar.gz
unzip = true
extends = http://packages.lizardsystem.nl/kgs/1.24/versions.cfg
prefer-final = true
versions = versions
extensions = buildout-versions
parts =
    sysegg
    django
    omelette
    console_scripts
    pyflakes
develop = .
eggs =
    lizard-shape


[versions]
# Specific pins
lizard-shape =


[sysegg]
recipe = osc.recipe.sysegg
force-sysegg = true
eggs =
    PIL
    matplotlib
    pyproj
    psycopg2


[django]
# Sets up django for testing our application.
# See http://jacobian.org/writing/django-apps-with-buildout/
recipe = djangorecipe
project = lizard_shape
projectegg = lizard_shape
settings = testsettings
test = lizard_shape
eggs = lizard-shape


[omelette]
# Creates a nice parts/omelette with our used eggs
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}


[console_scripts]
recipe = zc.recipe.egg
interpreter = python
eggs =
    ${buildout:eggs}
# Development tools
    eazysvn
    coverage > 3.3.1
    pep8
    zest.releaser


[pyflakes]
# Hairy way to install pyflakes: old-style distutils script.
recipe = zc.recipe.egg
scripts =
   pyflakes
eggs =
   pyflakes
entry-points = pyflakes=pkg_resources:run_script
arguments = 'pyflakes', 'pyflakes'
