{% load workspaces %}
{# header #}
{% if image_graph_url %}
<div style="width: 100%; height: 240px;"
     class="dynamic-graph"
     data-image-graph-url="{{ image_graph_url }}">
</div>
{% endif %}
{% if his_file_dtstart %}
Data beschikbaar: {{ his_file_dtstart|date:"Y-m-d" }}
{% endif %}
{% for display_object in display_group %}
<div><img src="{{ symbol_url }}"/>  <strong>{{ display_object.name }}</strong></div>
{# body #}
<div>
  <table class="noprint table table-bordered">
    <thead>
      <th>Attribuut</th>
      <th>Waarde</th>
    </thead>
    <tbody>
      {% for row in display_object.values %}
      <tr>
        <td>
        {{ row.name }}
        </td>
        {% ifequal row.value_type 1 %}{# Normal (see: ShapeField) #}
        <td>
        {{ row.value }}
        </td>
        {% endifequal %}
        {% ifequal row.value_type 2 %}{# Image link #}
        <td>
          <img src="{{ row.value|safe }}"/>
        </td>
        {% endifequal %}
        {% ifequal row.value_type 3 %}{# Weblink#}
        <td>
          <a href="{{ row.value|safe }}" style="text-decoration:underline; color:blue;">link</a>
        </td>
        {% endifequal %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% if add_snippet %}
<a
   href="{% url lizard_map_collage_add %}"
   class="collage-add ss_star ss_sprite"
   data-target-id="#edit-collage"
   data-adapter-class="{{ adapter_class }}"
   data-adapter-layer-json="{{ adapter_layer_json }}"
   data-identifier="{{ display_object.identifier|json_escaped }}"
   data-name="{{ display_object.name }}"
   title="Toevoegen aan selectie">&nbsp;{{ display_object.name }}</a>
{% endif %}
{% if not forloop.last %}
<hr/>
{% endif %}
{% endfor %}
