{% load workspaces %}
{# header #}
{% if img_url %}
<div style="width: 100%; height: 170px;"
     class="img-use-my-size">
  <a href="{{ img_url }}"
     class="replace-with-image">
    afbeelding nog niet geladen
  </a>
</div>
{% endif %}
{% if his_file_dtstart %}
Data beschikbaar: {{ his_file_dtstart|date:"Y-m-d" }}
{% endif %}
{% for display_object in display_group %}
<table>
  <tr>
    <td><img src="{{ symbol_url }}"/>&nbsp;{{ display_object.name }}</td>
    {% if add_snippet %}
    <td class="sidebarbox-action-icon">
      <a href="{% url lizard_map_collage_add %}"
         class="collage-add ss_star ss_sprite"
	 data-target-id="#edit-collage"
	 data-adapter-class="{{ adapter_class }}"
         data-adapter-layer-json="{{ adapter_layer_json }}"
         data-identifier="{{ display_object.identifier|json_escaped }}"
         data-name="{{ display_object.name }}"
         title="Toevoegen aan selectie"></a>
    </td>
    {% endif %}
  </tr>
</table>
{# body #}
<div>
  <table class="noprint generic-table">
    <tbody>
      {% for row in display_object.values %}
      <tr>
        <td>
        {{ row.name }}
        </td>
        {% ifequal row.value_type 1 %}{# Normal (see: ShapeField) #}
        <td>
        {{ row.value }}
        </td>
        {% endifequal %}
        {% ifequal row.value_type 2 %}{# Image link #}
        <td>
          <img src="{{ row.value|safe }}"/>
        </td>
        {% endifequal %}
        {% ifequal row.value_type 3 %}{# Weblink#}
        <td>
          <a href="{{ row.value|safe }}">link</a>
        </td>
        {% endifequal %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endfor %}
